html, body, #index, #index>div {
    background: rgb(2, 0, 36);
    background: linear-gradient(5deg, rgba(2, 0, 36, 1) 0%, rgba(43, 43, 194, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(0, 52, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    height: 99.6%;
    width: 99.8%;
}

.MarcoGeneral {
    background-color: rgba(110, 177, 199, 0.267);
    border-radius: 25px;
    width: 500px;
    padding: 20px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
}