  .tablero-fila {
      clear: both;
      content: "";
      display: table;
      margin-right: auto;
      margin-left: auto;
  }

  .status {
      margin-bottom: 10px;
      height: 20px;
      text-align: center;
      border-top: 2px solid rgb(25, 77, 136);
      border-bottom: 2px solid rgb(25, 77, 136);
      width: 180px;
      margin-right: auto;
      margin-left: auto;
  }

  .cuadrado {
      background: #fff;
      border: 1px solid #999;
      float: left;
      font-size: 35px;
      font-weight: bold;
      line-height: 34px;
      height: 60px;
      width: 60px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
  }

  .cuadrado:focus {
      outline: none;
  }

  .juego {
      margin-right: auto;
      margin-left: auto;
  }