/*
.MarcoGeneralVistaPrincipal{

}
*/

.Titulo {
    border-bottom: 6px solid rgb(25, 77, 136);
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgb(71, 0, 129);
    font-size: 24px;
    text-align: center;
}

.botonLogout {
    float: left;
}

.botonRecordarSesion {
    float: right;
}

.Juego {
    margin-top: 50px;
}