.textoTitulo {
    text-align: center;
    border-bottom: 6px solid rgb(25, 77, 136);
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgb(71, 0, 129);
    font-size: 24px;
}

.lineaInputRegistro {
    margin-bottom: 10px;
}

.cajaInputRegistro {
    text-align: left;
    width: 150px;
    height: 15px;
    margin-right: 10%;
    float: right;
}
.lineaBotonesRegistro{
    margin-right: 10%;
    float: right;
}

.textoRegistro {
    text-align: left;
    margin-bottom: 15px;
}