.tituloAcceso {
    text-align: center;
    border-bottom: 6px solid rgb(25, 77, 136);
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgb(71, 0, 129);
    font-size: 24px;
}

.textoAcceso {
    text-align: left;
    margin-bottom: 15px;
}
.lineaTextoAcceso{
    margin-bottom: 10px;
}

.lineaBotonesAcceso {
    border-top: 2px solid rgb(25, 77, 136);
    padding-top: 7px;
    margin-top: 10px;
    width: 100%;
}


.botonRegistroAcceso {
    float: left;
    margin-right: 7px;
}

.botonLoginAcceso {
    float: right;
   
}
.cajaInputAcceso{
    text-align: left;
    width: 150px;
    height: 15px;
    margin-right: 10%;
    float: right;
}